---
layout: default
---

<div id="home">
  <ul class="posts">
  {% for post in site.posts limit: 5 %}
    <div class="post_info">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {% if post.author %}
      <a class="btn btn-small disabled pull-right" href="{{ post.author_url }}#"><i class="icon-user"></i> {{ post.author }}</a>
      {% endif %}
      <!-- {{ post.date | date:"%Y-%m-%d" }} -->
      <br />
      {{ post.content }}
      <hr />
    </div>
  {% endfor %}
  </ul>
  <br />
  <a href="/archives">More...</a>
  <br />
</div>

