<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Jake McCrary" />

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

  </head>
  <body>

    <div class="site">
      <div class="title">
        <a href="/">Jake McCrary<</a>
                                   <a class="extra" href="/">home</a>
      </div>

      {{ content }}

      <div class="footer">
        <div class="contact">
          <p>
            Jake McCrary<br />
            Software Engineer at <a href="http://drw.com/">DRW Trading Group</a><br />
            jake@jakemccrary.com
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="http://github.com/jakemcc/">github.com/jakemcc</a><br />
            <a href="http://twitter.com/jakemcc/">twitter.com/jakemcc</a><br />
          </p>
        </div>
      </div>
    </div>

  </body>
</html>
