<!DOCTYPE html>

<html>
{% include mediafront-head-tag.snippet %}
<body>
  {% include navbar.snippet %}
  <div class="container">
    <br />
    <div class="row">
      <div class="span12">
        <h1>{{ page.title }}</h1>
        <div id="{{ page.playlist }}-player"></div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="span12">
        The <a href="http://mediafront.org/osmplayer" title="OSM Player">OSM Player</a> you see here has been developed by one of our devs - <a href="https://github.com/travist" title="Travis Tidwell">Travis Tidwell</a> as part of the <a href="http://mediafront.org" title="MediaFront">MediaFront Project.</a> Go check it out, it's Awesome!
      </div>
    </div>
  </div>
  {% include footer.snippet %}
</body>
</html>
